@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --raw-white: hsl(0, 0%, 100%);
    --raw-cold-gray: hsl(214, 10%, 53%);
    --raw-dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--raw-cold-gray);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 375px;
    margin: 0 auto;
}

.card {
    background-color: var(--raw-white);
    padding: 18px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card img {
    width: 100%;
    border-radius: 20px;
}