/* MODERN CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
 
input, button, textarea, select {
    font: inherit;
}
 
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
 
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


:root {
    --white-50: hsl(0, 0%, 100%);
    --gray-400: hsl(220, 10%, 65%);
    --gray-800: hsl(0, 0%, 13.3%);

    --turquoise-300: hsl(174, 60%, 55%); 
    --purple-400: hsl(255, 55%, 60%); 

    /* Desktop */
    --fs-300: 0.875rem;   
    --fs-400: 1rem;       
    --fs-500: 1.5rem;    
    --fs-600: 2rem;
    --fs-700: 3rem; 

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --space-100: 0.5rem;
    --space-200: 1rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
 
    --radius-md: 1.5rem;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--gray-800);
    
    display: grid;
    place-items: center;
    min-height: 100dvh;
}

.weather-card {
    max-width: 470px;
    min-height: 400px;
    background: linear-gradient(135deg, var(--turquoise-300), var(--purple-400));
    color: var(--white-50);
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

.search-row > form, .main-info, .weather-stats {
    display: flex;
    justify-content: center;
}

.search-row > form {
    align-items: center;
    margin: var(--space-200);
    gap: 10px;
}

.search-row input {
    height: var(--space-500);
    border-radius: var(--radius-md);
    padding: var(--space-100);
    margin: var(--space-100);
}

.search-row button {
    height: var(--space-500);
    background-color: var(--white-50);
    border-radius: var(--radius-md);
    padding: var(--space-100);
}

.main-info {
    flex-direction: column;
    align-items: center;
}

.weather-stats > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.weather-stats img {
    aspect-ratio: 1 / 1;
    width: 35px;
    height: 35px;
    margin: var(--space-100);
}

.weather-stats-text {
    display: flex;
    flex-direction: column;
    max-width: 100px;
}

p.stats-value {
    font-size: var(--fs-500);
}

/* TESTS, CLEAN OUT */ 
form > * {
    border: 1px solid rgb(142, 85, 198);
}

.weather-card div {
    border: 1px solid rgb(134, 58, 210);
}

.main-info > * {
    border: 1px solid rgb(240, 216, 31);
}

.weather-stats > * {
    border: 1px solid rgb(0, 15, 218);
}