/* MODERN CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
 
input, button, textarea, select {
    font: inherit;
}
 
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
 
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


:root {
    --white-50: hsl(0, 0%, 100%);
    --gray-400: hsl(220, 10%, 65%);
    --gray-800: hsl(0, 0%, 13.3%);

    --turquoise-300: hsl(161, 83%, 56%); 
    --purple-400: hsl(255, 40%, 67%); 

    /* Desktop */
    --fs-300: 0.875rem;   
    --fs-400: 1rem;       
    --fs-500: 1.5rem;    
    --fs-600: 2rem;
    --fs-700: 3rem; 

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --space-100: 0.5rem;
    --space-200: 1rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
 
    --radius-md: 1.5rem;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--gray-800);
    
    display: grid;
    place-items: center;
    min-height: 100dvh;
}

.weather-card {
    max-width: 470px;
    min-height: 500px;
    background: linear-gradient(135deg, var(--turquoise-300), var(--purple-400));
    color: var(--white-50);
    border-radius: var(--radius-md);
    display: grid;
    grid-template-rows: 15% auto 20%;
}

.search-row > form, .main-info, .weather-stats {
    display: flex;
    justify-content: center;
}

.search-row > form {
    align-items: center;
    margin: var(--space-300) var(--space-200);
    gap: var(--space-100);
}

.search-row input {
    height: var(--space-500);
    
    padding: var(--space-100) var(--space-200);

    border: none;
    outline: none;
    border-radius: var(--radius-md);
}

.search-row button {
    height: var(--space-500);
    background-color: var(--white-50);
    border-radius: var(--radius-md);
    padding: var(--space-100) calc(var(--space-100) * 1.5);
}

.main-info {
    flex-direction: column;
    align-items: center;
}

.main-info img {
    margin-bottom: var(--space-300);
}

h1.degrees {
    font-size: calc(var(--fs-700)* 1.2);
}

h2.city {
    font-size: var(--fs-600); 
}

.weather-stats {
    gap: var(--space-300);
}

.weather-stats > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-stats img {
    aspect-ratio: 1 / 1;
    width: 35px;
    height: 35px;
    margin: var(--space-100);
}

.weather-stats-text {
    display: flex;
    flex-direction: column;
}

p.stats-value {
    font-size: var(--fs-500);
}

.weather-stats-text:nth-child(2) {
    font-size: calc(var(--fs-300) / 1.1);
}



/* TESTS, CLEAN OUT */ 
/* form > * {
    border: 1px solid rgb(142, 85, 198);
}

.weather-card div {
    border: 1px solid rgb(134, 58, 210);
}

.main-info > * {
    border: 1px solid rgb(240, 216, 31);
}

.weather-stats > * {
    border: 1px solid rgb(0, 15, 218);
} */