* {
    margin: 0;
    padding: 0;
    font-family: "Inter Tight", sans-serif;
    box-sizing: border-box;
}

body {
    background: hsl(134, 40%, 10%);
    color: hsl(0, 0%, 100%);
}

.container {
    height: 100dvh;

    display: grid;
    place-items: center start;
    align-content: center;

    margin-left: 4rem;
    max-width: 1440px;
}

.display {
    width: 50%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background: white;
    color: hsl(0, 0%, 50%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
}

.container h1 {
    font-weight: 600;
    font-size: 3rem;
}

.container h1 span {
    color:  hsl(174, 70%, 56%);
}

.display img {
    width: 1rem;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    border-left: 5px solid grey;
    padding: 0.825rem;
}

.container button img {
    width: 2rem;
    margin: 0.25rem;
}

.container button {
    display: flex;
    align-items: center;
    gap: 2rem;
    
    border: 0;
    border-radius: 0.325rem;
    outline: 0;

    font-size: 1.25rem;
    padding: 0.425rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(174, 50%, 29%);

    cursor: pointer;
}

.toast {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(100px);
    background: var(--gray-400); 
    color: var(--white-50);
    padding: var(--space-100) var(--space-200);
    border-radius: var(--radius-md);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

/* Show toast when generated password gets copied */
.toast.show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}